@charset "euc-kr";

html, body {height:100%;}
body {margin:0; background-color:#fff;}
#wrapper {position:relative; width:100%; height:100%; padding:0; margin:0;}
#content {position:relative; display:block;}
body.noScroll, body.noScroll #wrapper {position:inherit; height:100vh; overflow:hidden;}


/* 상단
------------------------------------------------------------------------------- */
#header * {box-sizing:border-box;}
#header h1 {height:47px; padding-top:9px; text-align:center;}
#header h1 img {height:32px;}
#header > ul > li {position:absolute; top:0;}
#header > ul > li > a {width:100%; height:47px; font-size:0; text-indent:-9999px; display:block;}
#header > ul > li:first-child {right:0; width:47px;}
#header > ul > li:first-child a {background:url(/Images/btn/btn_mypage.png) 50% 50% no-repeat; background-size:20px auto;}
/*#header > ul > li:first-child a.delivery {background-image:url(/Images/btn/btn_delivery.png); background-size:auto 22px;}*/
#header > ul > li:last-child {left:0; width:50px;}
#header > ul > li:last-child a {background:url(/Images/btn/btn_allmenu.png) 50% 50% no-repeat; background-size:21px auto;}

/* 전체이동영역 */
#allmenu {position:absolute; right:0; top:0; width:100%; height:100%; padding-right:72px; background:rgba(0,0,0,0.70); z-index:100; display:none;}
#allmenu .cont {position:relative; height:100%; padding-bottom:30px; background:#fff; overflow:auto; z-index:150;}
#allmenu .userInfo {padding:20px 0 20px 15px; color:#fff; background:#0bb2aa;}
#allmenu .userInfo p:first-child {margin:0 0 8px 0; font-size:16px; opacity:0.7;}
#allmenu .userInfo strong {font-family:"Noto Bold"; font-size:22px; display:block;}
#allmenu .userMenu {margin-top:12px;}
#allmenu .userMenu li {margin-right:4px; display:inline-block;}
#allmenu .userMenu li a {height:27px; padding:0 10px; line-height:25px; border:1px solid rgba(255,255,255,0.7); display:inline-block;}
#allmenu .menu span {width:100%; height:54px; padding:0 15px; font-size:20px; font-family:"Noto Medium"; color:#404040; border-bottom:1px solid #ebebeb; display:table;}
#allmenu .menu span em {vertical-align:middle; display:table-cell;}
#allmenu .menu span em:after {float:right; width:14px; height:14px; background:url(/Images/btn/btn_fold02.png) 0 0 no-repeat; background-size:14px auto; display:inline-block; content:"";}
#allmenu .menu li.on span em {color:#0bb2aa;}
#allmenu .menu li.on span em:after {background-position:0 -14px;}
#allmenu .menu ul {border-bottom:1px solid #ebebeb; display:none;}
#allmenu .menu ul li {width:100%; height:44px; border-top:1px solid #e7e7e7; background:#f9f9f9; display:table;}
#allmenu .menu ul li:first-child {border-top:0;}
#allmenu .menu ul li a {padding:0 15px; font-size:16px; color:#404040; vertical-align:middle; display:table-cell;}
#allmenu .banner {margin:15px 15px 0 15px;}
#allmenu .banner img {width:100%;}
#allmenu .close {position:absolute; right:87px; top:15px; width:16px; height:16px; font-size:0; text-indent:-9999px; background:url(/Images/btn/btn_close01.png) 0 0 no-repeat; background-size:16px; display:block; z-index:200;}

/* 전역이동영역 */
.gnbArea {clear:both; height:auto;}
#gnb {clear:both; height:auto; padding:0 10px; border-bottom:1px solid #e4e5e5; overflow:hidden;}
#gnb li {float:left; width:20%; height:43px; display:table;}
#gnb li a {font-family:"Noto Medium"; font-size:16px; text-align:center; line-height:38px; border-bottom:4px solid transparent; vertical-align:middle; display:table-cell;}
#gnb li:hover a, #gnb li.on a {border-bottom-color:#0bb2aa;}
#gnb li:last-child a:after {width:10px; height:10px; background:url(/Images/main/ico_event.png) no-repeat; background-size:10px; vertical-align:12px; display:inline-block; content:"";} 
@media only screen and (max-width:359px) {
    #gnb li a {font-size:14px;}
}

/* 단위이동영역 */
#lnb {width:100%; font-size:14px; border-bottom:1px solid #e4e5e5; background:#f9f9f9; display:table;}
#lnb > li {position:relative; width:50%; vertical-align:middle; display:table-cell;}
#lnb > li span {width:100%; height:40px; padding:0 15px; color:#191919; font-family:"Noto Regular"; border-left:1px solid #dcdcdc; display:table;}
#lnb > li:first-child span {border-left:0 none;}
#lnb > li span em {vertical-align:middle; display:table-cell;}
#lnb > li span em:after {float:right; width:11px; height:5px; margin-top:7px; background:url(/Images/common/blt_chevron02.png) 0 0 no-repeat; background-size:11px auto; display:inline-block; content:"";}
#lnb > li.on span {color:#0bb1ad;}
#lnb > li.on span em:after {background-position:0 100%;}
#lnb > li ul {position:absolute; width:100%; border:1px solid #dcdcdc; display:none; z-index:100;}
#lnb > li ul li {width:100%; height:40px; border-top:1px solid #dcdcdc; background:#f9f9f9; display:table;}
#lnb > li ul li:first-child {border-top:0 none;}
#lnb > li ul li a {padding:0 10px; vertical-align:middle; display:table-cell;}
#lnb > li ul li a:active {color:#0bb1ad;}

/* 내용 */
#content {z-index:90;}
.subTitBg {/*position:relative;*/ height:35px; padding:9px 15px 0 10px; font-size:13px; color:#0bb1ad; font-family:"Noto Bold"; border-bottom:1px solid #dcdcdc; background:#f9f9f9;}
/*.subTitBg:before {position:absolute; top:50%; left:50%; width:11px; height:5px; margin:-3px 0 0 -26px; background:url(/Images/common/blt_chevron02.png) 0 100% no-repeat; background-size:11px auto; display:inline-block; content:"";}
.subTitBg:after {position:absolute; top:0; left:50%; width:1px; height:100%; background:#dcdcdc; display:block; content:"";}*/

/* 고정 빠른 이동 */
.quick {position:fixed; left:5px; bottom:0; z-index:100;}
.quick * {box-sizing:border-box;}
.quick .ico.quickOn {width:58px; height:58px; margin:0 0 7px 3px; background:url(/Images/btn/btn_quickOn.png) 50% 50% no-repeat; background-size:100% 100%;}
.quick .ico.quickOff {position:absolute; left:0; top:0; width:49px; height:47px; margin:4px 0 0 7px; background:none;}
.quick .on {clear:both; width:179px; height:auto; overflow:hidden; display:none;}
.quick .on > * {clear:both; overflow:hidden;}
.quick .top, .quick .btm, .quick .top, .quick .mid {margin-right:1px;}
.quick .top, .quick .btm, .quick .top *, .quick .btm * {font-size:0; line-height:0;}
.quick .top *, .quick .btm * {height:100%; overflow:hidden;}
.quick .top {height:19px;}
.quick .top .left {padding-left:28px; background:url(/Images/common/box_quick_tl.png) 0 0 no-repeat; background-size:29px 20px;}
.quick .top .right {padding-right:28px; background:url(/Images/common/box_quick_tr.png) 100% 0 no-repeat; background-size:29px 20px;}
.quick .top .cen {background:url(/Images/common/box_quick_tc.png) 0 0 repeat-x; background-size:auto 20px;}
.quick .btm {height:59px;}
.quick .btm .left {position:relative; padding-left:74px; background:url(/Images/common/box_quick_bl.png) 0 100% no-repeat; background-size:75px 60px;}
.quick .btm .right {padding-right:28px; background:url(/Images/common/box_quick_br.png) 100% -1px no-repeat; background-size:29px 29px;}
.quick .btm .cen {background:url(/Images/common/box_quick_bc.png) 0 -1px repeat-x; background-size:auto 29px;}
.quick .mid {height:auto;}
.quick .mid .left, .quick .mid .right {background-repeat:repeat-y; background-size:13px auto;}
.quick .mid .left {padding-left:12px; background-image:url(/Images/common/box_quick_ml.png);}
.quick .mid .right {padding-right:12px; background-image:url(/Images/common/box_quick_mr.png); background-position:100% 0;}
.quick .mid .cont {padding:1px; background:#fff;}
.quick ul li {padding:8px 3px; font-size:13px; line-height:20px; border-top:1px solid #ebebeb;}
.quick ul li:first-child {border-top:0 none;}
.quick a:before {width:28px; height:22px; margin-right:6px; background-position:50% 50%; background-repeat:no-repeat; background-size:auto 100%; vertical-align:middle; display:inline-block; content:"";}
.quick a.delivery:before {background-image:url(/Images/common/ico_delivery.png);}
.quick a.myPage:before {background-image:url(/Images/common/ico_myPage.png);}
.quick a.inquiry:before {background-image:url(/Images/common/ico_inquiry.png);}

/* 하단 */
#footer {padding:0 0 21px 0; font-size:12px; letter-spacing:-0.02em; line-height:19px; color:#222; background:#f6f6f6;}
#footer h2 {font-size:12px;}
address {font-style:normal;}
#footer .menu {padding:15px 0; margin-bottom:18px; text-align:center; background:#ebebeb;}
#footer .menu li {vertical-align:middle; display:inline-block;}
#footer .menu li:before, #footer dl dt:before {width:1px; height:11px; margin:0 8px 0 6px; background:#c1c1c1; display:inline-block; vertical-align:-1px; content:"";}
#footer .menu li:nth-child(2) a {opacity:1;font-size:13px;font-weight:bold;}
#footer .menu li:first-child:before, #footer dl dt:first-child:before, #footer dl dt:nth-of-type(3):before, #footer dl dt:nth-of-type(4):before {display:none;}
#footer .menu .tel {color:#01a69e;}
#footer address {padding:0 15px;}
#footer address strong {margin-bottom:4px; font-family:"Noto Bold"; letter-spacing:-0.05em; display:inline-block;}
#footer address span {letter-spacing:-0.05em; display:inline-block;}
#footer address span:first-child {margin-bottom:3px; font-family:"Noto Medium";}
#footer dl {clear:both; height:auto; padding:0 15px; overflow:hidden;}
#footer dl dt, #footer dl dd {float:left; margin-right:4px; display:block;}
#footer dl dt:nth-of-type(3), #footer dl dt:nth-of-type(4) {clear:both;}
#footer dl dt:after {margin-left:4px; display:inline; content:":";}
#footer dl dt:last-of-type:after {display:none;}
#footer p {padding:8px 15px 0 15px;}
#footer address, #footer dl, #footer p {width:360px; margin:0 auto;}

/* 공유하기 */
.snsBox {clear:both; width:100%; height:46px; border-top:1px solid #d9d9d9; background:#f6f6f6; box-sizing:border-box; display:table;}
.snsBox > div {vertical-align:middle; display:table-cell;}
.snsBox .snsLink {padding-left:70px; text-align:left;}
.snsBox .snsLink > a {margin-right:2px; vertical-align:middle; display:inline-block !important;}
.snsBox .snsLink a > img {width:25px !important; height:25px !important;}
.snsBox .btnArea {width:133px; padding-right:13px; text-align:right;}
.snsBox .btnArea .btn {margin:0 2px;}

@media only screen and (max-width:359px) {
    #footer {font-size:11px;}
    #footer h2 {font-size:11px;}
    #footer .menu li:before, #footer dl dt:before {margin:0 6px 0 4px;}
	#footer dl dt:nth-of-type(3), #footer dl dt:nth-of-type(4) {letter-spacing:-0.07em;}
    #footer address, #footer dl, #footer p {width:320px;}
    .snsBox .snsLink {padding-left:68px}
}

/* 2017 - 06 - 29 추가 */
.tvLayer {position:fixed; right:11px; bottom:0; z-index:100;}
.tvLayer * {box-sizing:border-box;}
.tvLayer .tvLayerOn {position:relative;width:101px; height:101.5px; margin:0 0 7px 3px; background:url('/Images/tvLayer_bg.png') 50% 50% no-repeat; background-size:100% 100%;}
.tvLayer .tvLayerOn .tvBody {position:absolute;left:18px;top:31px;}
.tvLayer .tvLayerOn .tvBody a {display:block;width:63px;height:48px;}
.tvLayer .tvLayerOn .tvBody img {max-width:100%}
.tvLayer .tvLayerOn .close {position:absolute;top:0;right:0;width:29px;height:29px;}
.tvLayer .tvLayerOn .close img {max-width:100%;}


/* 상단 공지 Layer
------------------------------------------------------------------------------- */
.topNotice {position:fixed; left:0px; top:0px; width:100%; padding:10px; color:#fff; font-family:"Noto Bold"; background:#55c1ee; z-index:99;}
.topNotice a {color:#fff;}
.topNotice .closeBtn {position:absolute; right:10px; top:6px;}

/* 영역 */
.cont01 {position:relative; padding:20px 15px 30px 15px;}
.cont01 > h2 {margin-top:20px; font-size:16px;}
.cont01.st01 {padding:0 0 10px 0;}
.cont01:after {position:absolute; bottom:0; left:0; width:100%; height:10px; background:url(/images/Etc/bg_cont01.png) 0 100% repeat-x; background-size:1px 10px; display:block; content:'';}

.cont01 .con01 {padding:30px 15px;}
.cont01 .con02 {padding:30px 15px; background:#eee;}
.cont01 .con03 {padding:20px 15px; border-bottom:1px solid #ccc;}
.cont01 .con04 {padding:15px 15px 30px 15px; border-top:1px solid #ccc;}

.cont02 {padding:30px 15px;}
.cont02 .con01 {padding:30px 15px;}
.cont02 .con02 {padding:20px 15px; background:#eee;}
.cont02 .con03 {padding:20px 15px; border-bottom:1px solid #ccc;}

.cont03 {padding:10px 0; background:#eee;}

.cont04 {position:relative; padding:30px 15px 20px 15px;}
.cont04.st01 {padding:10px 0 0 0;}
.cont04:before {position:absolute; top:0; left:0; width:100%; height:10px; background:url(/images/Etc/bg_cont01.png) 0 100% repeat-x; background-size:1px 10px; display:block; content:'';}

@media only screen and (max-width:320px) {
    .cont01 .con01 {padding:20px 15px;}
    .cont01 .con02 {padding:20px 15px;}
    .cont01 > h2 {font-size:14px;}
}


/* 2017-12-19 팝업창 추가 */
.mask {display:block;width:100%;height:100%;position:fixed !important;top:0;right:0;bottom:0 !important;left:0;background:#000;opacity:0.75;z-index:9998;}
.pop_serprise01 img,.pop_serprise02 img {display:block;width:100%;}
.pop_serprise01 {position:absolute;top:6.653%;left:0;display:block;width:100%;height:100%;z-index:9999;/* background:url('/images/main/serprisePop_bg.png') center center no-repeat;background-size:cover; */}
.pop_serprise01 .pop_content {position:relative;}
.pop_serprise01 .pop_content .serprisePop_submit {display:block;width:28.90625%;position:absolute;top:80.739%;left:35.625%;}
.pop_serprise01 .pop_content .pop_close {display:block;width:11.25%;position:absolute;top:1.194%;right:3.125%;}
.pop_serprise01 .pop_cookie_close {position:absolute;bottom:0;width:100%;margin:0 auto;text-align:center;}
.pop_serprise01 .pop_cookie_close label {color:#fff;vertical-align:middle;padding-left:6.71875% !important;font-size:3.75vw;line-height:28px !important;}
.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:before {width:28px !important;height:28px !important;}
.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:after {left:10px !important;}
@media only screen and (max-width:414px) {
	.pop_serprise01 .pop_close {top:13.286%;}
	.pop_serprise01 .pop_cookie_close label  {line-height:16px !important;}
	.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:before {width:16px !important;height:16px !important;}
	.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:after {left:4px !important;}
}


.pop_serprise02 {position:absolute;top:6.653%;left:0;display:block;width:100%;height:100%;z-index:9999;/* background:url('/images/main/serprisePop_bg2.png') center center no-repeat;background-size:cover; */}
.pop_serprise02 .pop_content {position:relative;/* padding-top:12.814%; */}
.pop_serprise02 .pop_content a {display:block;width:28.90625%;position:absolute;top:81.75%;left:35.625%;}

.pop_serprise02 .chk_box {display:block;width:78.125%;height:auto;padding:3.75% 5.783% 3.596% 3.75%;background:inherit;position:absolute;top:33.651%;left:10.9375%;text-align:left;}
.pop_serprise02 .chk_box strong {display:block;font-size:3.4375vw;line-height:1em;color:#000;font-family:'Noto Medium';}
.pop_serprise02 .chk_box  .chk_title {font-size:3.125vw;line-height:1.4em;color:#000;font-family:'Noto Regular';margin:2.28% 0 1.598%;}
.pop_serprise02 .chk_box input[type=checkbox] {vertical-align:middle;margin-left:0;position:absolute;left:0;margin-right:0 !important;border:1px solid #d9d9d9;box-sizing:border-box;}
.pop_serprise02 .chk_box input[type=checkbox] + label:before {background:#f6f6f6;border:1px solid #c6c6c6 !important;width:28px;height:28px;}
.pop_serprise02 .chk_box input[type=checkbox] + label {vertical-align:middle;margin-right:4.84375%;padding-left:8.659%;font-size:3.125vw;line-height:1.4em;color:#000;font-family:'Noto Regular';}
.pop_serprise02 .chk_box input[type=checkbox] + label:before {margin:0 !important;top:0;border:0;}
.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:9px;top:10px;margin-top:0;}
.pop_serprise02 .chk_box input[type=checkbox]:checked + label:before {background:#757575 !important;border-color:#757575 !important;}
.pop_serprise02 .chk_box .chk_txt {font-size:2.8125vw;line-height:1.444447em;color:#666666;font-family:'Noto Regular';}
.pop_serprise02 .chk_box .chk_txt span {display:block;padding-left:2.2%;}
.pop_serprise02 .chk_box > div {display:block;margin-bottom:2.053%;}

.pop_serprise02 .pop_close {display:block;width:11.25%;position:absolute;top:1.145%;right:3.125%;}
.pop_serprise02 .pop_cookie_close {position:absolute;bottom:0;width:100%;margin:0 auto;text-align:center;}
.pop_serprise02 .pop_cookie_close label {color:#fff;vertical-align:middle;padding-left:6.71875% !important;font-size:3.75vw;line-height:28px !important;}
.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:before {width:28px !important;height:28px !important;}
.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:after {left:10px !important;}


@media only screen and (min-width:768px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:9px;top:10px;margin-top:0;}
	.pop_serprise02 .chk_box input[type=checkbox] + label {line-height:1.2em;}
}


@media only screen and (max-width:414px) {
	/* .pop_serprise01 .pop_cookie_close {top:75%;}
	.pop_serprise02 .pop_cookie_close {top:89%;} */

	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:18px;height:18px;}

	.pop_serprise02 .pop_cookie_close label  {line-height:16px !important;}
	.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:before {width:16px !important;height:16px !important;}
	.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:after {left:4px !important;}
}

@media only screen and (max-width:411px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:4px;top:5px;margin-top:0;}
}

@media only screen and (max-width:375px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:16px;height:16px;}
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:3px;top:4px;margin-top:0;}
}

@media only screen and (max-width:360px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:3px;top:4px;margin-top:0;}
}

@media only screen and (max-width:320px) {
	.pop_serprise02 .chk_box {/* top:40.4%; */padding:3.125% 5.783% 3.125% 3.75%;}
	.pop_serprise02 .chk_box .chk_txt {letter-spacing:-1px;}
	.pop_serprise02 .chk_box .chk_txt span {display:inline;padding-left:0;}

	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:14px;height:14px;}
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:2px;top:3px;margin-top:0;}
}



/* 2018-05-25 팝업창 수정 */
.mask {display:block;width:100%;height:100%;position:fixed !important;top:0;right:0;bottom:0 !important;left:0;background:#000;opacity:0.75;z-index:9998;}
.pop_serprise01 img,.pop_serprise02 img {display:block;width:100%;}
.pop_serprise01 {position:absolute;top:6.653%;left:0;display:block;width:100%;height:100%;z-index:9999;/* background:url('/images/main/serprisePop_bg.png') center center no-repeat;background-size:cover; */}
.pop_serprise01 .pop_content {position:relative;}
.pop_serprise01 .pop_content .serprisePop_submit {display:block;width:28.90625%;position:absolute;top:71.837%;left:35.625%;}
.pop_serprise01 .pop_content .pop_close {display:block;width:4.22%;position:absolute;top:6.119%;right:7.658%;}
.pop_serprise01 .pop_cookie_close {position:absolute;bottom:2.533%;width:100%;margin:0 auto;text-align:center;}
.pop_serprise01 .pop_cookie_close label {color:#fff;vertical-align:middle;padding-left:6.71875% !important;font-size:3.75vw;line-height:28px !important;}
.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:before {width:28px !important;height:28px !important;background:#fff;}
.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:after {left:10px !important;}

.pop_serprise01 input[type=checkbox]:checked + label:before {border-color: #01b7aa;background: #01b7aa;}

@media only screen and (max-width:414px) {
	/* .pop_serprise01 .pop_close {top:13.286%;} */
	.pop_serprise01 .pop_cookie_close label  {line-height:16px !important;}
	.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:before {width:16px !important;height:16px !important;}
	.pop_serprise01 .pop_cookie_close input[type=checkbox] + label:after {left:4px !important;}
}


.pop_serprise02 {position:absolute;top:6.653%;left:0;display:block;width:100%;/* height:100%; */z-index:9999;/* background:url('/images/main/serprisePop_bg2.png') center center no-repeat;background-size:cover; */}
.pop_serprise02 .pop_content {position:relative;/* padding-top:12.814%; */}
.pop_serprise02 .pop_content a {display:block;width:28.90625%;position:absolute;top:81.75%;left:35.625%;}

.pop_serprise02 .chk_box {display:block;width:78.125%;height:auto;padding:3.75% 5.783% 3.596% 3.75%;background:inherit;position:absolute;top:26.397%;left:10.9375%;text-align:left;}
.pop_serprise02 .chk_box strong {display:block;font-size:3.4375vw;line-height:1em;color:#000;font-family:'Noto Medium';}
.pop_serprise02 .chk_box  .chk_title {font-size:3.125vw;line-height:1.4em;color:#000;font-family:'Noto Regular';margin:2.28% 0 1.598%;}
.pop_serprise02 .chk_box input[type=checkbox] {vertical-align:middle;margin-left:0;position:absolute;left:0;margin-right:0 !important;border:1px solid #d9d9d9;box-sizing:border-box;}
.pop_serprise02 .chk_box input[type=checkbox] + label:before {background:#f6f6f6;border:1px solid #c6c6c6 !important;width:28px;height:28px;background:#fff;}
.pop_serprise02 .chk_box input[type=checkbox] + label {vertical-align:middle;margin-right:4.84375%;padding-left:8.659%;font-size:3.125vw;line-height:1.4em;color:#000;font-family:'Noto Regular';}
.pop_serprise02 .chk_box input[type=checkbox] + label:before {margin:0 !important;top:0;border:0;}
.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:9px;top:10px;margin-top:0;}
.pop_serprise02 .chk_box input[type=checkbox]:checked + label:before {background:#757575 !important;border-color:#757575 !important;}
.pop_serprise02 .chk_box .chk_txt {font-size:2.8125vw;line-height:1.444447em;color:#666666;font-family:'Noto Regular';}
.pop_serprise02 .chk_box .chk_txt span {display:block;padding-left:2.2%;}
.pop_serprise02 .chk_box > div {display:block;margin-bottom:2.053%;}

.pop_serprise02 .pop_close  {display:block;width:4.22%;position:absolute;top:4.226%;right:7.658%;}
.pop_serprise02 .pop_cookie_close {position:absolute;bottom:-1%;width:100%;margin:0 auto;text-align:center;}
.pop_serprise02 .pop_cookie_close label {color:#fff;vertical-align:middle;padding-left:6.71875% !important;font-size:3.75vw;line-height:28px !important;}
.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:before {width:28px !important;height:28px !important;background:#fff;}
.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:after {left:10px !important;}

.pop_serprise02 input[type=checkbox]:checked + label:before {border-color: #01b7aa;background: #01b7aa;}

@media only screen and (min-width:768px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:9px;top:10px;margin-top:0;}
	.pop_serprise02 .chk_box input[type=checkbox] + label {line-height:1.2em;}
}


@media only screen and (max-width:414px) {
	/* .pop_serprise01 .pop_cookie_close {top:75%;}
	.pop_serprise02 .pop_cookie_close {top:89%;} */

	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:18px;height:18px;}

	.pop_serprise02 .pop_cookie_close label  {line-height:16px !important;}
	.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:before {width:16px !important;height:16px !important;}
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:4px !important;top:5px !important;margin-top:0;}
	.pop_serprise02 .pop_cookie_close input[type=checkbox] + label:after {left:4px !important;}

	.pop_serprise01 .pop_cookie_close {bottom:3.533%;}
}

@media only screen and (max-width:411px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:4px !important;top:5px !important;margin-top:0;}
}

@media only screen and (max-width:375px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:16px;height:16px;}
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:3px !important;top:4px !important;margin-top:0;}
}

@media only screen and (max-width:360px) {
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:3px !important;top:4px !important;margin-top:0;}
}

@media only screen and (max-width:320px) {
	.pop_serprise02 .chk_box {/* top:40.4%; */padding:3.125% 5.783% 3.125% 3.75%;}
	.pop_serprise02 .chk_box .chk_txt {letter-spacing:-1px;}
	.pop_serprise02 .chk_box .chk_txt span {display:inline;padding-left:0;}

	.pop_serprise02 .chk_box input[type=checkbox] + label:before {width:14px;height:14px;}
	.pop_serprise02 .chk_box input[type=checkbox] + label:after {left:2px !important;top:3px !important;margin-top:0;}
}

/* 2018-05-30 */
.pop_serprise01.pop_july01 {top:0;}
.pop_july01 .pop_content .serprisePop_submit {display:block;width:28.90625%;position:absolute;top:75.693%;left:35.625%;}
.pop_july01 .pop_content .pop_close {display:block;width:4.22%;position:absolute;top:11.796%;right:8.127%;}
.pop_july01 .pop_cookie_close {position:absolute;top:88.411%;width:100%;margin:0 auto;text-align:center;}

.pop_serprise02.pop_july02 {top:0;}

.pop_july02 .pop_content .serprisePop_submit {display:block;width:28.90625%;position:absolute;top:84.42%;left:35.625%;}
.pop_july02 .chk_box {display:block;width:78.125%;height:auto;padding:3.75% 5.783% 3.596% 3.75%;background:inherit;position:absolute;top:30.195%;left:10.9375%;text-align:left;}
.pop_july02 .pop_close  {display:block;width:4.22%;position:absolute;top:10.124%;right:8.127%;}
.pop_july02 .pop_cookie_close {bottom:0;top:95.335%;height: 2.466%}